[submodule "savezelda"]
	path = savezelda
	url = https://github.com/lewurm/savezelda
[submodule "str2hax"]
	path = str2hax
	url = https://github.com/Fullmetal5/str2hax
[submodule "smashstack"]
	path = smashstack
	url = https://github.com/iGlitch/smashstack
[submodule "homebrew-channel"]
	path = homebrew-channel
	url = https://github.com/fail0verflow/hbc
